@import "./fonts.css";
@import "./variables.css";
@import "./button.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
image {
  object-fit: cover;
  display: flex;
}
body {
  font-family: var(--main-font-family);
  font-size: 1.6rem;
  line-height: 1.625;
}
.container {
  max-width: 1111px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.navigation {
  padding-top: 64.84px;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .menu-burger {
  display: none;
}
.navigation .menu {
  display: block;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 690px;
    padding: 0 39px;
  }
}
@media screen and (max-width: 666px) {
  .navigation .menu-burger {
    display: block;
    cursor: pointer;
  }
  .navigation .menu {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .container {
    max-width: 327px;
  }
  .navigation {
    padding-top: 35px;
  }
  .navigation .menu {
    display: none;
  }
  .navigation .menu-burger {
    display: block;
    cursor: pointer;
  }
}
.menu ul {
  display: flex;
  align-items: center;
  gap: 42px;
}
.menu ul li a {
  font-size: 1.4rem;
  line-height: 1.4px;
  letter-spacing: 2px;
  color: var(--dark-gray);
}
main {
  height: 100vh;
}
/* 
footer {
  background-color: var(--black-color);
}
footer .container {
  position: relative;
}
.footer-content {
  position: absolute;
  top: -72px;
  background-color: var(--peach-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 72px 95px 46px 95px;
  border-radius: 15px;
}
.footer-content-left-side .txt1 {
  max-width: 268px;
  font-size: var(--h2-fs);
  font-weight: 500;
  line-height: 40px;
  color: var(--white-color);
}
.footer-content-left-side .txt2 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 26px;
  color: var(--white-color);
  max-width: 459px;
}
.get-in-touch {
  padding: 17px;
  max-width: 152px;
  letter-spacing: 1px;
  background-color: var(--white-color);
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 21.68px;
  border: none;
  background: #ffffff;
  border-radius: 8px;
}
.footer-part a {
  padding-top: 144px;
} */
